*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:1rem 3rem;
position:fixed;
width:100%;
background:rgba(15,23,42,0.7);
backdrop-filter:blur(10px);
z-index:1000;
}

.logo{
font-weight:bold;
font-size:1.2rem;
}

.nav-links{
display:flex;
list-style:none;
gap:2rem;
}

.nav-links a{
color:white;
text-decoration:none;
transition:0.3s;
}

.nav-links a:hover{
color:#38bdf8;
}

/* HERO */
.hero{
height:100vh;
background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
url('img/hermoso-camino-madera-que-recorre-impresionantes-arboles-coloridos-bosque_181624-5840.avif');
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero-content h1{
font-size:3rem;
margin-bottom:1rem;
}

.btn-primary{
display:inline-block;
margin-top:2rem;
padding:1rem 2rem;
background:#38bdf8;
color:black;
text-decoration:none;
border-radius:8px;
transition:0.3s;
}

.btn-primary:hover{
transform:scale(1.1);
}

/* SECCIONES */
.section{
padding:6rem 2rem;
max-width:1200px;
margin:auto;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:2rem;
margin-top:3rem;
}

.card{
background:#1e293b;
border-radius:15px;
overflow:hidden;
transition:0.4s;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100%;
height:220px;
object-fit:cover;
}

.card h3{
margin:1rem;
}

.card button{
margin:1rem;
padding:.6rem 1.2rem;
border:none;
background:#38bdf8;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

.card button:hover{
background:white;
}

.contenido{
max-height:0;
overflow:hidden;
transition:max-height .6s ease;
padding:0 1rem;
}

.mostrar{
max-height:300px;
}

/* CONTACTO */
.contacto{
background:#1e293b;
border-radius:15px;
margin-top:2rem;
}

/* FOOTER */
footer{
text-align:center;
padding:2rem;
background:#0f172a;
}

/* ANIMACIONES SCROLL */
.reveal{
opacity:0;
transform:translateY(60px);
transition:all 1s ease;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}

/* RESPONSIVE */
@media(max-width:768px){
.hero-content h1{
font-size:2rem;
}
.navbar{
padding:1rem;
}
}
/* FOTO HERO PROFESIONAL */
.hero-image{
margin-top:2rem;
display:flex;
justify-content:center;
}

.hero-image img{
width:180px;
height:180px;
object-fit:cover;
border-radius:50%;
border:4px solid #38bdf8;
box-shadow:0 15px 35px rgba(0,0,0,0.5);
transition:all 0.4s ease;
}

/* efecto elegante */
.hero-image img:hover{
transform:scale(1.08);
box-shadow:0 20px 45px rgba(56,189,248,0.6);
}